<section id="devise">
    <h2>Sign Up</h2><br>

    <%- if ( !params[ :user ].nil? ) -%>
      <%= render( { :partial => 'users/form_oauth' } ) -%>
    <%- else -%>
      <%= render( { :partial => 'users/form' } ) -%>
    <%- end -%>    

</section>