// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin transition($times: .3s) { -webkit-transition: all $times; -moz-transition: all $times; -ms-transition: all $times; -o-transition: all $times; transition: all $times; }

nav#categories { position: fixed; height: 100%; width: 350px; background: #333; @include transition; left: -350px; z-index: 1000;

	&.active { left: 0; }

    > ul { list-style: none; width: 100%; height: auto; margin: 0; padding: 0; box-shadow: inset 0 0 2px black; box-shadow: inset -10px 0px 20px -9px #111;

        > li { line-height: 50px; border-bottom: 1px solid #222; font-size: 16px; text-transform: uppercase; @include transition; cursor: pointer; box-shadow: inset 0 -5px 1px -5px lightgray;

			> a { display: block; width: 100%; height: 100%; color: lightgray; text-decoration: none !important; }

            &:hover { background: rgba(82,168,236,.9); line-height: 70px; }
        }
    }
}