// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin transition($time: .3s) { -webkit-transition: all $time; -moz-transition: all $time; -ms-transition: all $time; -o-transition: all $time; transition: all $time; }

div.comment { display: inline-block; width: 80%; padding: 20px 0 0; position: relative;

	figure { width: 50px; position: absolute; left: 6.5%; }

	div.body-comment { display: inline-block; width: 70%; float: right; margin-right: 50px; text-align: left; }

    p.info-comment { color: #777; }
}

h3 { text-align: left; margin-left: 70px; position: relative; top: -15px; }

div.form-comment { margin-bottom: 30px; text-align: center; width: 90%; display: inline-block; position: relative;

    div.commenter-avatar { display: inline-block; float: left; position: absolute; width: 50px; margin-left: 4%;

        img { width: 50px; }
    }

    form { display: inline-block; position: relative; width: 100%;

        div.textarea { text-align: right; margin-right: 30px;

            textarea { width: 80%; min-height: 25px; height: auto; display: inline-block; border: 1px solid #CCC; border-radius: 7px; resize: none; padding: 10px; overflow: hidden; @include transition; 

                &:focus { border: 1px solid rgba(82,168,236,.8); outline: 0; box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6); }
            }
        }

        div.commenter { display: none; text-align: right; margin-right: 30px;

            .btn { padding: 0 8px; line-height: 35px; position: relative; top: -6px; }

            span { position: relative; line-height: 35px; top: -6px; margin: 0 5px; }
        }
    }
}