// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin transition($time: .3s) { -webkit-transition: all $time; -moz-transition: all $time; -ms-transition: all $time; -o-transition: all $time; transition: all $time; }

section#wrapper-comment-form { width: 95%; display: block; margin: 0 auto;

    > h3 { text-align: left; margin: 0; padding: 0; margin-left: 70px; position: relative; top: -15px; display: block; }

    > div.form-comment { text-align: center; width: 90%; display: block; position: relative; margin: 0 auto; top: -10px; margin-bottom: 30px;

        > div.commenter-avatar { float: left; width: 50px; height: 50px; margin-left: 40px; }

        > form { margin: 0; padding: 0; display: block; position: relative; margin-left: 90px;

            div.textarea { text-align: left; margin-left: 10px;

                textarea { width: 95%; max-width: 550px; min-height: 25px; height: auto; display: inline-block; border: 1px solid #CCC; border-radius: 7px; resize: none; padding: 10px; overflow: hidden; @include transition; 

                    &:focus { border: 1px solid rgba(82,168,236,.8); outline: 0; box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6); }
                }
            }

            div.commenter { display: none; text-align: right; max-width: 550px;

                .btn { padding: 0 8px; line-height: 35px; position: relative; }

                span { position: relative; margin: 0 5px; }

                input { margin: 0; }
            }
        }
    }
}


div.comment { display: inline-block; width: 80%; padding: 20px 0 0; position: relative;

	figure { float: left; margin-left: 50px; width: 50px; }

	div.body-comment { display: block; width: 70%; margin-left: 110px; text-align: left; }

    p.info-comment { color: #777;

        a { color: #777; text-decoration: none;

            &:hover { color: rgb(73,175,205); }
        }
    }
}