// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin transition($times: .4s) { -webkit-transition: all $times; -moz-transition: all $times; -ms-transition: all $times; -o-transition: all $times; transition: all $times; }

div#banner { position: relative; width: 97%; height: 500px; display: inline-block; margin-top: -15px; margin-bottom: 65px;

	.banner-title { margin-top: 80px;

		h1 { font-size: 80px; color: lightgray; font-weight: bold; text-transform: uppercase; text-shadow: 0 0 20px black; }
	}

	.banner-img { position: absolute; top: 0; z-index: -5;

		img { height: 500px; width: 100%; }
	}
}

section#content { width: 97%; display: inline-block; margin-top: -50px; position: relative; padding-bottom: 30px;

	article { padding: 30px 0; position: relative; width: 100%; display: inline-block; background: rgba(255,255,255,.8);

		aside { float: left; margin: 20px 10px 0 8%;

			ul { list-style: none; width: 230px; margin: 0; background: white;

				li { border: 1px solid silver; margin-bottom: -1px; color: #666; line-height: 35px; text-align: left; padding-left: 13px; @include transition; text-transform: uppercase; cursor: default;

					a { color: #666; display: inline-block; width: 100%; line-height: 35px; @include transition(.3s); text-transform: uppercase; text-decoration: none;

						span { opacity: 0; @include transition(.3s); }

						&:hover span { opacity: 1; margin-right: 15px; }

						&:hover { color: rgba(82,168,236,.9); }
					}

					span { opacity: 0; @include transition(.3s); }

					&:hover span { opacity: 1; margin-right: 15px; }

					&:hover { background: rgba(200,200,200,.8); }
				}
			}
		}

		.content { display: inline-block; width: 60%; position: relative;

			h1 { text-align: justify;

				a { color: #555; }
			}

			p { width: 95%; text-align: justify; padding: 10px 15px; display: inline-block; font-size: 17px; }

			> a { color: #555; background: rgba(82,168,236,.9); line-height: 68px; display: inline-block; width: 170px; margin-top: 20px; float: left; text-transform: uppercase; font-size: 16px; text-decoration: none; @include transition; margin: 3px 10px;

				&:hover { background: rgba(0,0,0,.8); color: lightgray; margin-top: -5px;}
			}
		}
	}

	hr { border: 1.5px solid #999; width: 88%; display: inline-block; }

	> a { color: #555; background: rgba(82,168,236,.9); line-height: 68px; display: inline-block; width: 170px; margin: 15px 0; text-transform: uppercase; font-size: 16px; text-decoration: none; @include transition; margin: 0 10px;

		&:hover { background: rgba(0,0,0,.8); color: lightgray; margin-top: -5px;}
	}

	//SHOW

	article.post { margin-top: 110px;

		div.content-post { width: 80%; display: inline-block; padding: 10px 0; position: relative;

			p.info { display: inline-block; width: 50%; text-align: left;

				span { margin: 0 7px; }
			}

			p.text-content { display: inline-block; width: 80%; text-align: justify; }

			> p { display: inline-block; width: 90%; text-align: left;

				a {color: #555; background: rgba(82,168,236,.9); line-height: 68px; display: inline-block; width: 170px; margin: 15px 0 0; text-transform: uppercase; font-size: 16px; text-decoration: none; @include transition; margin: 0 10px; text-align: center;

					&:hover { background: rgba(0,0,0,.8); color: lightgray; margin-top: -5px;}
				}
			}

			div.tags { display: inline-block; position: relative; width: 80%; text-align: justify;

				strong { color: #555; }

				a { color: #555; line-height: 25px; display: inline-block; padding: 0 7px; margin: 3px 0; }
			}
		}
	}
}