// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin transition( $times: .4s ) { -webkit-transition: all $times; -moz-transition: all $times; -ms-transition: all $times; -o-transition: all $times; transition: all $times; }


//HEADER -->

div#banner { position: relative; width: 97%; height: 480px; display: block; margin: -18px auto 20px auto; background: url( /assets/banner.jpg ); background-size: 100% 100%;

	> .banner-title { position: relative; top: 80px;

		> h1 { font-size: 80px; color: lightgray; font-weight: bold; text-transform: uppercase; text-shadow: 0 0 20px black; }
	}
}


//INDEX --> 

section#content { width: 97%; display: block; margin: 0 auto; position: relative;

	article { padding: 30px 0; position: relative; width: 100%; display: inline-block; background: rgba(255,255,255,.8);

		> div.wrapper-post { width: 80%; margin: 0 auto;

			 > aside { float: left; margin: 0; position: relative; margin-top: 25px; width: 230px; margin-left: 20px;

				> ul { list-style: none; width: 100%; margin: 0; background: white;

					> li { border: 1px solid silver; margin-bottom: -1px; color: #666; line-height: 35px; text-align: left; padding-left: 13px; @include transition; text-transform: uppercase; cursor: default; position: relative;

						a { color: #666; width: 100%; line-height: 35px; @include transition(.3s); text-decoration: none; position: relative;

							span { opacity: 0; @include transition(.3s); }

							&:hover span { opacity: 1; margin-right: 15px; }

							&:hover { color: rgba(82,168,236,.9); }
						}

						span { opacity: 0; @include transition(.3s); }

						&:hover span { opacity: 1; margin-right: 15px; }

						&:hover { background: rgba(200,200,200,.8); }
					}
				}
			}

			> .content { display: block; margin-left: 260px; position: relative;

				h1 { text-align: justify;

					a { color: #555; }
				}

				p { width: 95%; text-align: justify; padding: 10px 15px; display: inline-block; font-size: 17px; }

				ul { width: 100%; height: auto; position: relative; margin: 0; margin-top: 20px; text-align: left;

					li { position: relative; width: 170px; height: 68px; display: inline-block; margin-left: -4px; margin: 0 5px; text-align: center;


						a { color: #555; background: rgba(82,168,236,.9); line-height: 68px; display: inline-block; width: 170px; text-transform: uppercase; font-size: 16px; text-decoration: none; @include transition; position: absolute; top: 0; left: 0;

							&:hover { background: rgba(0,0,0,.8); color: lightgray; margin-top: -5px;}
						}
					}
				}
			}
		}

		> form { position: relative; margin: 0; width: 100%;

			div { width: 0; height: 0; display: block !important; }

			input[type="search"] { height: 16px; width: 250px; padding: 10px; font-size: 1.4em; margin: 0 auto; color: silver; background: #FAFAFA; }

			button[for="search"] { background: url(/assets/search-icon.png) no-repeat; background-size: 100% 100%; width: 30px; height: 30px; border: none; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); position: relative; left: -40px; opacity: .4; }
		}
	}

	hr { border: 1.5px solid #999; width: 88%; display: inline-block; }

	nav.pagination { width: 100%; display: inline-block; margin: 0; text-align: right; position: relative; top: -15px;

		ul { margin-right: 50px; width: auto; height: auto; position: relative; 
			
			li { display: inline-block; line-height: 50px; background: #fff; margin-left: -5px; border: 1px solid #ccc; position: relative; @include transition(.3s);

				&:hover { background: rgba(82,168,236,.9); }

				&.current { padding: 0 15px; background: rgba(0,0,0,.8); color: lightgray }

				&.first { border-radius: 5px 0 0 5px; }
				&.last { border-radius: 0 5px 5px 0; }

				a { float: none; display: inline-block; background: none; border: 0; padding: 0 15px; line-height: 50px;

					&:hover { color: white; }
				}
			}
		}
	}

	div.action-new { height: 68px; width: 170px; margin: 0 15px 5px; position: relative; display: inline-block;

		a { color: #555; background: rgba(82,168,236,.9); line-height: 68px; width: 170px; text-transform: uppercase; font-size: 16px; text-decoration: none; @include transition; position: absolute; top: 0; left: 0;

			&:hover { background: rgba(0,0,0,.8); color: lightgray; margin-top: -5px;}
		}
	}


	//SHOW -->

	> article.post { margin-top: 60px;

		> div.content-post { width: 80%; display: block; margin: 0 auto; padding: 10px 0; position: relative;

			> h1 { margin: 0; padding: 0; padding-top: 7px; padding-bottom: 13px; }

			> p.info { display: block; margin: 0 auto; width: 60%; text-align: left; color: #777;

				span { margin: 0 7px;

					a { text-decoration: none; color: #777;

						&:hover { color: rgb(73,175,205); }
					}
				}
			}

			> div.description-content { display: block; margin: 0 auto; width: 97%; text-align: justify; height: auto; margin-bottom: 20px;

				strong { display: block; }
			}

			> div.text-content { display: block; margin: 0 auto; width: 97%; text-align: justify; height: auto; margin-bottom: 20px;

				strong { display: block; }
			}

			> ul { width: 90%; text-align: left; position: relative; margin: 0 0 0 60px; list-style: none;

				li { display: inline-block; position: relative; height: 68px; width: 170px; margin: 0 10px 0 -4px;

					a {color: #555; background: rgba(82,168,236,.9); line-height: 68px; width: 170px; text-transform: uppercase; font-size: 16px; text-decoration: none; @include transition; text-align: center; position: absolute;

						&:hover { background: rgba(0,0,0,.8); color: lightgray; margin-top: -5px; }
					}
				}
			}

			div.tags { display: block; margin: 0 auto; position: relative; width: 80%; text-align: justify;

				strong { color: #555; }

				a { line-height: 30px; display: inline-block; padding: 0 7px; margin: 3px; }
			}
		}

		div.wrapper-comments{

			h4 { text-align: left; margin-left: 70px; position: relative; top: -25px; margin-bottom: -25px; }
		}
	}

}

div#alert { position: fixed; width: 300px; border: 15px solid rgba(0,0,0,.5); background: #FFF; padding: 10px 0; text-align: center; background-clip: padding-box; left: 50%; margin-left: -150px;
	top: 200px; display: none; z-index: 1000;

	p.content { margin: 0; padding: 0; width: 90%; display: inline-block; font-size: 18px; }

	hr { margin: 0; border-color: #CCC; width: 95%; display: inline-block; }
}


// EDIT

section.form-post { padding: 50px 0 10px 0;

	> form { margin-top: 20px; margin-bottom: 0;

		label { display: inline-block; }

		textarea { width: 50%; resize: none; @include transition; padding: 10px;

			&:focus { border: 1px solid rgba(82,168,236,.8); outline: 0; box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6); }
		}
	}
}