// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin transition($time: .3s) { -webkit-transition: all $time; -moz-transition: all $time; -ms-transition: all $time; -o-transition: all $time; transition: all $time; }

@mixin userSelect($select: none) { -moz-user-select: $select; -khtml-user-select: $select; -webkit-user-select: $select; user-select: $select; }

section#wrapper-profile { padding-top: 65px;

    > section.content-profile { width: 70%; display: inline-block; border: 1px solid silver; border-radius: 10px;

        > div.user-header { background: rgb(50,50,50); background: -moz-linear-gradient(top,  rgba(50,50,50,1) 0%, rgba(85,85,85,1) 35%, rgba(27,27,27,1) 70%, rgba(27,27,27,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,50,50,1)), color-stop(35%,rgba(85,85,85,1)), color-stop(70%,rgba(27,27,27,1)), color-stop(100%,rgba(27,27,27,1))); background: -webkit-linear-gradient(top,  rgba(50,50,50,1) 0%,rgba(85,85,85,1) 35%,rgba(27,27,27,1) 70%,rgba(27,27,27,1) 100%); background: -o-linear-gradient(top,  rgba(50,50,50,1) 0%,rgba(85,85,85,1) 35%,rgba(27,27,27,1) 70%,rgba(27,27,27,1) 100%); background: -ms-linear-gradient(top,  rgba(50,50,50,1) 0%,rgba(85,85,85,1) 35%,rgba(27,27,27,1) 70%,rgba(27,27,27,1) 100%); background: linear-gradient(to bottom,  rgba(50,50,50,1) 0%,rgba(85,85,85,1) 35%,rgba(27,27,27,1) 70%,rgba(27,27,27,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#1b1b1b',GradientType=0 ); border-radius: 10px 10px 0 0; padding-top: 30px; position: relative; height: 80px;

            > img { position: absolute; height: 90px; width: 90px; left: 30px; bottom: -10px; }

            > span.user-title { font-size: 2.5em; color: lightgray; float: left; margin-top: 20px; margin-left: 125px; }

            > span.user-role { float: left; clear: both; font-size: 1.2em; margin-left: 145px; color: lightgray; margin-top: 3px; }
        }

        > div.separator { background: rgb(92,170,231); background: -moz-linear-gradient(-45deg,  rgba(92,170,231,1) 0%, rgba(52,152,229,1) 30%, rgba(52,152,229,1) 70%, rgba(92,170,231,1) 100%); background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(92,170,231,1)), color-stop(30%,rgba(52,152,229,1)), color-stop(70%,rgba(52,152,229,1)), color-stop(100%,rgba(92,170,231,1))); background: -webkit-linear-gradient(-45deg,  rgba(92,170,231,1) 0%,rgba(52,152,229,1) 30%,rgba(52,152,229,1) 70%,rgba(92,170,231,1) 100%); background: -o-linear-gradient(-45deg,  rgba(92,170,231,1) 0%,rgba(52,152,229,1) 30%,rgba(52,152,229,1) 70%,rgba(92,170,231,1) 100%); background: -ms-linear-gradient(-45deg,  rgba(92,170,231,1) 0%,rgba(52,152,229,1) 30%,rgba(52,152,229,1) 70%,rgba(92,170,231,1) 100%); background: linear-gradient(135deg,  rgba(92,170,231,1) 0%,rgba(52,152,229,1) 30%,rgba(52,152,229,1) 70%,rgba(92,170,231,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5caae7', endColorstr='#5caae7',GradientType=1 ); height: 10px; }

        > div.user-info { background: lightgray; position: relative; height: 100%; text-align: right;

            > aside.nav-info { width: 25%; text-align: left; float: left; overflow: hidden; margin: 0; padding: 0; padding-bottom: 10px;

                > ul { margin: 0; padding: 0; list-style: none; width: 100%; height: 100%; position: relative;

                    > li { display: block; width: 100%; line-height: 1.22em; position: relative; border-bottom: 1px solid #c6c6c6; @include transition(.4s); box-shadow: 0 2px 3px #DDD;

                        &:hover { background: rgba(0,0,0,.1); }
                        &.active-info { background: rgba(240,240,240,.8); box-shadow: inset -3px 0 0 rgb(1,159,218); }

                        > a { display: block;  text-decoration: none; font-size: 16px; left: 30px; position: relative; padding: 14px 0; color: #333; @include transition(.4s);

                            &:hover { color: rgb(1,159,218); }
                        }
                    }
                }
            }

            > div.footer-info { padding-right: 30px; line-height: 30px; border-top: 1px solid silver; position: relative; background: rgba(230,230,230,.8); font-size: 1.2em; color: rgb(1,159,218); text-shadow: 0 0 1px rgba(0,0,0,.5); }
        }
    }
}

div.content-info { margin-left: 25%; min-height: 200px; background: rgba(240,240,240,.8); text-align: center; box-shadow: -2px 0 3px silver; padding: 20px;

    > div#profile {

        div.profile-info { text-align: left; margin-left: 40px;

            div.block-label { display: inline-block; position: relative; width: 130px; text-align: left; margin: 5px 0; }

            div.block-info { display: inline-block; position: relative; margin: 5px 0;

                input, select { margin: 0; }

                select[ id*="born_1i" ] { width: 70px; }
                select[ id*="born_2i" ] { width: 110px; }
                select[ id*="born_3i" ] { width: 60px; }
            }

            div.profile-actions { display: inline-block; position: relative; width: 90%; height: 50px; top: 10px;

                > button, input { display: block; position: absolute; right: 50px; @include transition; text-decoration: none;

                    &:hover { top: -7px; }

                    &.back { margin-right: 60px; }
                }
            }
        }

        div.profile-form { display: none; }
    }

    > div#avatar {

        > div.avatar-info { text-align: left; margin-left: 40px;

            > div.avatar-icon { float: left; position: relative; border: 1px solid silver; padding: 4px;

              > img { height: 90px; width: 90px; }
            }

            div.avatar-settings { display: block; margin-left: 110px; margin-top: 30px;

                > ul { margin: 0; padding: 0; list-style: none; width: 100%; height: 100%;

                    > li { display: block;

                        > p { margin: 3px 0;

                            input, label { display: inline-block; margin: 0; padding: 0; }
                            label { top: 1px; left: 5px; position: relative; }
                            img { width: 32px; height: 32px; }
                        }

                        > div.option-avatar { margin-left: 20px; position: relative;

                            input[type="file"] { width: 114px; height: 45px; opacity: 0; position: absolute; z-index: -1; left: 15px; }

                            label.btn.btn-info { position: relative; left: 15px; }

                            input[type="url"] { position: relative; left: 15px; width: 150px; }

                            button.preview { padding: 0 10px; position: relative; line-height: 35px; top: -7px; left: 10px; border-radius: 0 3px 3px 0; }

                            span.alert-url, span.alert-empty { position: absolute; line-height: 30px !important; padding: 0 12px 0 8px; font-size: 14px !important; text-align: center; border: 0px 0px 0px 0px none none none none rgb(255, 255, 255) rgb(70, 126, 42) rgb(255, 255, 255) rgb(255, 255, 255); border-radius: 0px 3.1875px 3.1875px 0px; text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px; box-shadow: rgba(0,0,0,.2) -4px 0px 4px 0px inset; top: 3px; left: 270px;

                                &.alert-url:after { content: ""; position: absolute; width: 0; height: 0; border-width: 15px !important; border-style: solid; border-color: transparent #b94a48 transparent transparent; top: 0; left: -30px; }

                                &.alert-empty:after { content: ""; position: absolute; width: 0; height: 0; border-width: 15px !important; border-style: solid; border-color: transparent #468847 transparent transparent; top: 0; left: -30px; }
                            }

                        }
                    }
                }

                > div.avatar-actions { display: inline-block; position: relative; width: 90%; height: 50px; top: 10px;

                    > input[type="submit"] { display: block; position: absolute; right: 50px; @include transition; text-decoration: none;

                        &:hover { top: -7px; }
                    }
                }
            }
        }
    }

    > div#social-networks { text-align: center;

        > div.social-networks-info { width: 95%; display: inline-block;

            > div.wrapper-social { position: relative; padding: 15px 0;

                > img { width: 40px; height: 40px; display: inline-block; margin-right: 10px; }

                > h4 { display: inline-block; }

                > div.social-networks-content { padding-top: 10px;

                    img { position: relative; width: 90px; height: 90px; float: left; left: 50%; margin-left: -150px; }

                    div.provider-info { text-align: left; position: relative; left: 50%; margin-left: -45px;

                        span.label { position: relative; margin-bottom: 5px; cursor: default;

                            &.label-success { background: rgb(73,175,205); }

                            &.url { @include userSelect( text ); cursor: text; }
                        }

                        a { position: relative; @include transition;

                            &.label { margin: 5px 0;

                                &:hover { background: rgb(50,222,244); }
                            }
                        }
                    }

                    a.btn-mtop { margin-top: 10px; }
                }

            }

            > hr { border: 1px solid #ccc !important; width: 80%; margin: 0; padding: 0; display: inline-block; }
        }
    }

    > div#account {

        div.account-info { text-align: left; margin-left: 40px;

            div.block-label { display: inline-block; position: relative; width: 130px; text-align: left; margin: 5px 0; }

            div.block-info { display: inline-block; position: relative; margin: 5px 0;

                input, select { margin: 0; }
            }

            div.account-actions { display: inline-block; position: relative; width: 90%; height: 50px; top: 10px;

                > button, input { display: block; position: absolute; right: 50px; @include transition; text-decoration: none;

                    &:hover { top: -7px; }

                    &.back { margin-right: 60px; }
                }
            }
        }

        span.alert-password, span.alert-empty { position: absolute; line-height: 30px !important; padding: 0 12px 0 8px; font-size: 14px !important; text-align: center; border: 0px 0px 0px 0px none none none none rgb(255, 255, 255) rgb(70, 126, 42) rgb(255, 255, 255) rgb(255, 255, 255); border-radius: 0px 3.1875px 3.1875px 0px; text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px; box-shadow: rgba(0,0,0,.2) -4px 0px 4px 0px inset; top: 3px; left: 270px;

            &.alert-password:after { content: ""; position: absolute; width: 0; height: 0; border-width: 15px !important; border-style: solid; border-color: transparent #b94a48 transparent transparent; top: 0; left: -30px; }

            &.alert-empty:after { content: ""; position: absolute; width: 0; height: 0; border-width: 15px !important; border-style: solid; border-color: transparent #468847 transparent transparent; top: 0; left: -30px; }
        }

        div.account-form, div.account-password { display: none; }
    }
}