// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin transition($time: .3s) { -webkit-transition: all $time; -moz-transition: all $time; -ms-transition: all $time; -o-transition: all $time; transition: all $time; }

section#wrapper-users { padding-top: 60px;

    > h1 { margin-bottom: 20px; }

    > table { width: 97%; margin: 0 auto;

        thead { background: rgba(92,170,231,.9); }
        tbody { background: rgba(255,255,255,.7); }

        tr {

            td { line-height: 50px;

                img { height: 50px; }

                a { margin: 0 2px; }
            }
        }

        th, td { text-align: center; }
    }
}